<div class="padding">
  <div class="list card" style="margin-top: 75px;">
    <a class="item item-thumbnail-left">
      <img src="img/Education/zhishi.jpg">

      <h2>申请组合服务</h2>

      <p>您可以组合多重课程服务形成...</p>
    </a>

    <a class="item item-thumbnail-left">
      <img src="img/Education/body.jpg">

      <h2>组合服务列表</h2>

      <p>展示您已发布的组合课程服务。</p>
    </a>

    <a class="item item-thumbnail-left">
      <img src="img/Education/xingge.jpg">

      <h2>订单管理</h2>

      <p>展示并管理用户的订单。</p>
    </a>
  </div>

</div>
