<ion-nav-view title="自选课程">
  <ion-nav-bar>
    <ion-nav-title>自选课程</ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding">

    <div class="button-bar" style="height: 50px;">
      <a class="button ion-plus-round">课件资源</a>
      <a class="button ion-plus-round">教师资源</a>
      <a class="button ion-plus-round">实验资源</a>
    </div>
    <div>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <button class="button button-full button-positive">
        搜索
      </button>
    </div>
  </ion-content>
</ion-nav-view>
