<ion-view view-title="更多操作">

  <ion-content class="padding">

    <ion-list class="padding">
      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
          >
        <img class="thumb" src="img/Education/itinerary.jpg">

        <div>我的课程单</div>
        <p>我的课程单包含您的已选服务信息</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
          >
        <img class="thumb" src="img/Education/dianzibingli.png">

        <div>我的订单</div>
        <p>您可以在此处查看您的订单信息</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
                href="basic_education_data">
        <img class="thumb" src="img/Education/realtimeHealthData.png">

        <div>基础数据</div>
        <p>展示您的基础教育数据</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
          >
        <img class="thumb" src="img/Education/shopping_apply.png">

        <div>学习吧</div>
        <p>开启您的学习之旅</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
          >
        <img class="thumb" src="img/Education/more_suggestions.png">

        <div>账户信息</div>
        <p>展示您的账号余额、积分等信息。</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>


      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
          >
        <img class="thumb" src="img/Education/more_suggestions.png">

        <div>师生视频互动</div>
        <p>你可以与教师直接交流</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>


      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
          >
        <img class="thumb" src="img/Education/more_suggestions.png">

        <div>师生电话互动</div>
        <p>你可以与教师直接交流。</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
