<div data-role="page" id="student_search_service" data-close-btn="right" data-overlay-theme="e">
  <div data-role="header" data-position="fixed" data-id="fixedHeaderNav">
    <a href="javascript:gotoHome();" data-icon="home">彩云阁首页</a>

    <h1>学生</h1>

    <div data-role="navbar" class="nav-glyphish-example">
      <ul>
        <li>
          <a href="#/education/stcourse" class="customer_search_service ui-btn-active ui-state-persist"
             data-icon="custom" data-theme="c">自选课程</a>
        </li>
        <li>
          <a href="#" class="customer_my_itinerary" data-icon="custom" data-theme="c">课程套餐</a>
        </li>
        <li>
          <a href="#/education/stoperation" class="medical_record" data-icon="custom" data-theme="c">更多操作</a>
        </li>
      </ul>
    </div>
  </div>
</div>
