<ion-view view-title="订单管理">

  <ion-content class="padding">

    <div id="page_education_stoperation" data-role="page" data-theme="c">
      <div data-role="header" data-position="fixed" data-id="fixedHeaderNav">
        <a href="#" data-icon="back" data-rel="back">返回</a>
      </div>
    </div>
    <div data-role="content" style="padding-left:10px;">
      <div>
        <table style="width:100%">
          <tbody>
          <tr>
            <th>
              服务类型：
            </th>
            <td>
              <select name="select-choice-1" id="select-choice-1" data-role="select" data-inline="true"
                      data-native-menu="true">
                <option value="0">课件</option>
                <option value="1">教师</option>
                <option value="2">实验</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              课程名称：
            </th>
            <td>
              <input class="productName" type="text">
            </td>
          </tr>
          <tr>
            <th>
              学生姓名：
            </th>
            <td>
              <input class="studentName" type="text">
            </td>
          </tr>
          <tr>
            <th>
              起始日期：
            </th>
            <td>
              <input class="company_order_fromDate" type="text" data-role="datebox">
            </td>


          </tr>
          <tr>
            <th>
              终止日期：
            </th>
            <td>
              <input class="company_order_toDate" type="text" data-role="datebox">
            </td>
          </tr>

          </tbody>
        </table>
        <a data-role="button" data-theme="b">检索订单</a>
      </div>

    </div>
  </ion-content>
</ion-view>
