<ion-nav-view view-title="服务管理">

  <ion-content class="padding">
    <ion-list class="padding">
      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
                href="javascript:getProductsByProductNameAndComNameWithJson();">
        <img class="thumb" src="img/Education/dianzibingli.png">

        <div>发布课程服务</div>
        <p>您可以发布课程服务供学生查询。</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
                href="javascript:localtest1();">
        <img class="thumb" src="img/Education/biaojiwu.png">

        <div>课程服务列表</div>
        <p>展示您已发布的课程服务。</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
                href="javascript:openAuditList();">
        <img class="thumb" src="img/Education/more_suggestions.png">

        <div>服务许可确认</div>
        <p>您可以对您被申请的服务进行确认。</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-nav-view>
