<?xml version="1.0" encoding="utf-8"?>
<plugin id="cn.net.test" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ExtraInfo</name>
    <description>Description</description>
    <js-module name="ExtraInfo" src="www/ExtraInfo.js">
        <clobbers target="cordova.plugins.ExtraInfo"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ExtraInfo">
                <param name="android-package" value="cn.net.test.ExtraInfo"/>
            </feature>
        </config-file>
        <source-file src="src/ExtraInfo.java" target-dir="src/cn/net/test"/>
    </platform>
</plugin>
